@{
    ViewBag.Title = "Bán hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="vertical">
    <div id="top-pane">
        <div id="item">
            @*Get all product*@
            <div id="left-pane">
                @foreach (var p in (List<BANHSAURIENG.Models.tblProduct>)ViewBag.Product)
                {
                    <div style="float: left; width: 60px; overflow: hidden; margin: 5px">
                        <a class="product" id="@p.ProductID" name="@p.ProductName">
                            <img src="@Url.Content("~/Images/Product/" + p.Avatar + "")" width="60" height="60" />
                            <label style="font-size: 10px">@p.ProductName</label>
                        </a>
                    </div>
                }
            </div>
            @*Get All Combo*@
            <div id="right-pane">
                @foreach (var c in (List<BANHSAURIENG.Models.tblComBo>)ViewBag.Combo)
                {
                    <div style="float: left; width: 60px; overflow: hidden; margin: 5px">
                        <a class="combo" id="@c.ComboID" name="@c.ComboName">
                            <img src="@Url.Content("~/Images/Product/" + c.Avatar + "")" width="60" height="60" />
                            <label style="font-size: 10px">@c.ComboName</label>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="middle-pane">
        <div style="float: left; width: 500px">
            <table>
                <thead>
                    <tr>
                        <th>
                            Tên hàng
                        </th>
                        <th>
                            SL
                        </th>
                        <th>
                            Đơn giá
                        </th>
                        <th>
                            % CK
                        </th>
                        <th>
                            Thành tiền
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
            </table>
        </div>
    </div>
</div>
<div id="window_select">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#vertical").kendoSplitter({
            orientation: "vertical",
            panes: [
                            { collapsible: false },
                            { collapsible: false, size: "100px" }
                        ]
        });
        $("#item").kendoSplitter({
            panes: [
                            { collapsible: true, size: "45%" },
                            { collapsible: false }
                        ]
        });
        //end of spliter

    });
</script>
<style>
    a:hover
    {
        cursor: pointer;
    }
</style>
