@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.shortcuts.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.printElement.min.js")" type="text/javascript"></script>
<input type="hidden" id="productID" />
<input type="hidden" id="quantity" />
<input type="hidden" id="result" />
<input type="hidden" id="netvalue" value="0"/>
<input type="hidden" id="totalmoney" value="0"/>
<div id="example" class="k-content" style="width: 100%; height: 1024px; margin: 0px">
    <div id="vertical" style="height: 100%; width: 100%;">
        <div id="top-pane" style="height: 100%; width: 100%;">
            <div id="horizontal" style="height: 100%; width: 100%;">
                <div id="left-pane" style="height: 15%; width: 100%;">
                    <div class="pane-content" style="padding: 0px">
                        <div class="k-toolbar k-grid-toolbar">
                            <a class="k-button" id="back" style="float: left; margin-left: 5px"><span class="k-icon k-i-seek-w">
                            </span></a><a class="k-button" id="forward" style="float: left; margin-left: 5px"><span
                                class="k-icon k-i-seek-e"></span></a>
                        </div>
                        
                    </div>
                </div>
                <div id="right-pane" style="height: 85%; width: 100%;">
                    <div class="pane-content" style="padding: 0px">
                        <div class="k-toolbar k-grid-toolbar">
                            <a class="k-button"><span class="k-icon k-i-plus"></span></a><a class="k-button"><span
                                class="k-icon k-i-close"></span></a><a class="k-button"><span class="k-icon k-i-pencil">
                                </span></a>
                        </div>
                        <div style="padding: 0 0; height: 140px">
                            <div class="k-toolbar k-grid-toolbar">
                                <div style="text-align: left; width: 40%; float: left">
                                    </div>
                                <div style="text-align: left; width: 20%; float: left">
                                    Ngày: @DateTime.Now</div>
                                <div style="text-align: left; width: 20%; float: left">
                                    </div>
                                <div style="text-align: left; width: 20%; float: left">
                                    </div>
                            </div>
                            <div class="width30" style="width: 100%; float: left">
                                <button class="k-button" id="bsrbtn" style="width: 150px; height: 120px" tabindex="1">
                                    Bánh Sầu Riêng (F1)<img src="@Url.Content("~/Images/Banh/banhsaurieng.jpg")" style="width: 100%;
                                        height: 90px" /></button>
                                <button class="k-button" id="bsbtn" style="width: 150px; height: 120px">
                                    Bánh Su (F2)<img src="@Url.Content("~/Images/Banh/banhsu.jpg")" style="width: 100%; height: 90px" /></button>
                                    
                                <button class="k-button" id="finalpay" style="width: 600px; height: 120px">
                                    Thanh toán (F4)</button></div>
                            </div>
                            @*<div style="width: 70%; float: left">
                        </div>*@
                        <div class="k-toolbar k-grid-toolbar">
                            <div style="text-align: center">
                                CHI TIẾT HÓA ĐƠN BÁN LẺ</div>
                        </div>
                        <table id="billgrid">
                            <thead>
                                <tr>
                                    <th>
                                        Mã hàng
                                    </th>
                                    <th>
                                        Tên hàng
                                    </th>
                                    <th>
                                        Đơn vị tính
                                    </th>
                                    <th>
                                        Số lượng
                                    </th>
                                    <th>
                                        Đơn giá
                                    </th>
                                    <th>
                                        % chiết khấu
                                    </th>
                                    <th>
                                        Tiền chiết khấu
                                    </th>
                                    <th>
                                        Thành tiền
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div class="pay" style="float: right; padding-right: 10px">
                            <div style="text-align: center" class="sumvalue">
                                </div>
                        </div>
                        <div id="window">
                            <div class="detailbill" id="detailbill" style="text-align: center; font-size: 9px;width:300px">
                                <ul>
                                    <li>CÔNG TY BÁNH SẦU RIÊNG</li>
                                    <li>Chi nhánh Parson</li>
                                    <li>Ngày: @DateTime.Now</li>
                                    <li>Khách hàng:
                                        <input type="text" class="k-textbox" style="width: 100px" /><span class="k-icon k-i-search"></span>
                                    </li>
                                </ul>
                                <table id="paygrid" style="margin: auto">
                                    <thead>
                                        <tr>
                                            <th>
                                                STT
                                            </th>
                                            <th>
                                                Tên hàng
                                            </th>
                                            <th>
                                                SL
                                            </th>
                                            <th>
                                                Đơn giá
                                            </th>
                                            <th>
                                                % CK
                                            </th>
                                            <th>
                                                Thành tiền
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <ul style="text-align: center">
                                <li class="sumvalue"></li>
                                <li>Khách đưa:
                                    <input id="money" type="text" class="k-textbox" style="width: 70px" />
                                    VND </li>
                                <li class="returnmoney">Thối lại: ($("money").val() - $(".sum").val()) VND </li>
                                <button class="k-button" id="printBill" style="width: 150px">
                                    Ghi và in phiếu (Space)</button>
                                <button class="k-button" id="writeBill" style="width: 150px">
                                    Ghi</button>
                            </ul>
                        </div>
                        <div id="bsrwindow">
                            <div class="editor-label">
                                Số lượng
                            </div>
                            <div class="editor-field">
                                <input id="quantityinput" type="text" class="k-textbox" value="1" onkeypress="return isNumberKey(event)" />
                            </div>
                           @* <div class="editor-label">
                                Chiết khấu
                            </div>*@
                            @*<div class="editor-field">
                                <input id="compaininput" type="text" class="k-textbox" />
                                %
                            </div>*@
                        </div>
                        <div id="voucherwindow">
                            <div class="editor-label">
                                Mã Voucher
                            </div>
                            <div class="editor-field">
                                <input id="voucherinput" type="text" class="k-textbox" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".text-box").addClass("k-textbox").removeClass("text-box");
            $("#Description").addClass("k-textbox").css('height', '100px');
            var objectypedata = [
                        { text: "CV Lê Thị Riêng", value: "1" },
                        { text: "Khác", value: "2" }
                    ];

            // create DropDownList from input HTML element
            $("#objectype-dropdown").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: objectypedata
            });
            var statusdata = [
                        { text: "Sáng", value: "1" },
                        { text: "Chiều", value: "0" }
                    ];

            // create DropDownList from input HTML element
            $("#status-dropdown").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: statusdata
            });
            var statusdata2 = [
                        { text: "VND", value: "1" },
                        { text: "USD", value: "0" }
                    ];

            // create DropDownList from input HTML element
            $("#status-dropdown2").kendoDropDownList({
                dataTextField: "text",
                dataValueField: "value",
                dataSource: statusdata2
            });
            $("#vertical").kendoSplitter({
                orientation: "vertical",
                panes: [
                            { collapsible: false },
                            { collapsible: false, size: "100px" },
                            { collapsible: false, resizable: false, size: "100px" }
                        ]
            });

            $("#horizontal").kendoSplitter({
                panes: [
                            { collapsible: true, size: "220px" },
                            { collapsible: false },
                            { collapsible: true, size: "220px" }
                        ]
            });
            $("#billgrid").kendoGrid({
                height: 400,
                resizable: true,
                selectable: true,
                change: selectBillgrid
            });
            $("#datepicker").kendoDatePicker();
            var billwindow = $("#window");
            if (!billwindow.data("kendoWindow")) {
                billwindow.kendoWindow({
                    width: "300px",
                    title: "Thanh toán",
                    visible: false,
                    actions: ["Close"]
                });
            }
            $("#finalpay").click(function () {
                billwindow.data("kendoWindow").open();
                billwindow.data("kendoWindow").center();
            });
            //            shortcut.add("f4", function () {
            //                billwindow.data("kendoWindow").open();
            //                billwindow.data("kendoWindow").center();
            //            });
            $.Shortcuts.add({
                type: 'down',
                mask: 'F4',
                handler: function () {
                    billwindow.data("kendoWindow").open();
                    billwindow.data("kendoWindow").center();
                    $("#window").focus();
                }
            }).start();
            $("#printBill").click(function () {
                printBill();
            })
            function printBill() {
                var result = "";
                var voucher = "";
                $("#billgrid tr").each(function () {
                    result = result + $(this).find(".proID").val() + "_" + $(this).find(".quantity").val() + ":";
                    if ($(this).find(".voucher").val() != null) {
                        voucher = voucher + $(this).find(".voucher").val() + ":";
                    }
                });
                var totalmoney = $("#totalmoney").val();
                $.ajax({
                    type: "POST",
                    url: "/Sale/PrintForm",
                    data: "{'result' : '" + result + "', 'totalmoney' : '" + totalmoney + "', 'voucher' : '" + voucher + "'}",
                    contentType: "application/json; charset=utf-8",
                    success: function () {
                    }
                })
                billwindow.data("kendoWindow").close();
                $("#detailbill").printElement({ printMode: 'iframe' });
                $("#billgrid tbody").html("");
                $("#paygrid tbody").html("");
                $("#finalpay").html("Thanh toán (F4)");
                $(".sumvalue").html("");
                $("#result").val("");
                //location.reload();
            }
            var bsrwindow = $("#bsrwindow");
            if (!bsrwindow.data("kendoWindow")) {
                bsrwindow.kendoWindow({
                    width: "300px",
                    height: "90px",
                    visible: false,
                    actions: ["Close"]
                });
            }
            var voucherwindow = $("#voucherwindow");
            if (!voucherwindow.data("kendoWindow")) {
                voucherwindow.kendoWindow({
                    width: "300px",
                    height: "90px",
                    visible: false,
                    actions: ["Close"]
                });
            }
            $("#bsrbtn").click(function () {
                bsrwindow.data("kendoWindow").open();
                bsrwindow.data("kendoWindow").center();
                bsrwindow.data("kendoWindow").title("Bánh Sầu Riêng");
                $("#productID").val("1");
                $("#quantityinput").val("");
                $("#quantityinput").focus();
            });
            //            shortcut.add("f1", function () {
            //                bsrwindow.data("kendoWindow").open();
            //                bsrwindow.data("kendoWindow").center();
            //                bsrwindow.data("kendoWindow").title("Bánh Sầu Riêng");
            //                $("#productID").val("1");
            //                $("#quantityinput").val("");
            //                $("#quantityinput").focus();
            //            });
            $(document).keydown(function (e) {
                if (e.keyCode == 27) {
                    bsrwindow.data("kendoWindow").close();
                    billwindow.data("kendoWindow").close();
                }
                if (e.keyCode == 32) {
                    printBill();
                }
            });
            $.Shortcuts.add({
                type: 'down',
                mask: 'F1',
                handler: function () {
                    bsrwindow.data("kendoWindow").open();
                    bsrwindow.data("kendoWindow").center();
                    bsrwindow.data("kendoWindow").title("Bánh Sầu Riêng");
                    $("#productID").val("1");
                    $("#quantityinput").val("");
                    $("#quantityinput").focus();
                }
            }).start();
            $("#bsbtn").click(function () {
                bsrwindow.data("kendoWindow").open();
                bsrwindow.data("kendoWindow").center();
                bsrwindow.data("kendoWindow").title("Bánh Su");
                $("#productID").val("2");
                $("#quantityinput").val("");
                $("#quantityinput").focus();
            });
            //            shortcut.add("f2", function () {
            //                bsrwindow.data("kendoWindow").open();
            //                bsrwindow.data("kendoWindow").center();
            //                bsrwindow.data("kendoWindow").title("Bánh Su");
            //                $("#productID").val("2");
            //                $("#quantityinput").val("");
            //                $("#quantityinput").focus();
            //            });
            $.Shortcuts.add({
                type: 'down',
                mask: 'F2',
                handler: function () {
                    bsrwindow.data("kendoWindow").open();
                    bsrwindow.data("kendoWindow").center();
                    bsrwindow.data("kendoWindow").title("Bánh Su");
                    $("#productID").val("2");
                    $("#quantityinput").val("");
                    $("#quantityinput").focus();
                }
            }).start();
            $.Shortcuts.add({
                type: 'down',
                mask: 'F3',
                handler: function () {
                    voucherwindow.data("kendoWindow").open();
                    voucherwindow.data("kendoWindow").center();
                    voucherwindow.data("kendoWindow").title("Voucher");
                    $("#voucherinput").val("");
                    $("#voucherinput").focus();
                }
            }).start();
            var line = 0;
            $("#quantityinput").keypress(function (event) {
                if (event.which == 13) {
                    if ($(this).val() == "") {
                        bsrwindow.data("kendoWindow").close();
                    } else {
                        bsrwindow.data("kendoWindow").close();
                        $("#quantity").val($("#quantityinput").val());
                        $("#result").val($("#result").val() + $("#productID").val() + "_" + $("#quantity").val() + ":");
                        $.ajax({
                            type: "GET",
                            url: "/Sale/GetProductByID?productID=" + $("#productID").val(),
                            contentType: "application/json; charset=utf-8",
                            cache: true,
                            success: function (result) {
                                for (i = 0; i < result.length; i++) {
                                    line++;
                                    $("#billgrid tbody").append("<tr><td style='display:none'><input class='proID' type='hidden' value='" + result[i].ProductID + "'/>" + line + "</td><td>" + result[i].ProductCode + "</td><td><label class='productname' id='productname" + result[i].ProductID + "'>" + result[i].ProductName + "</td><td>" + result[i].Unit + "</td><td><input class='quantity' id='quantity" + result[i].ProductID + "' onchange='changequantity(" + result[i].ProductID + ");' value='" + $("#quantity").val() + "'/></td><td><label class='price' id='price" + result[i].ProductID + "'>" + result[i].Price + "</label></td><td>0</td><td>0</td><td><label class='sum' id='sumquantity" + result[i].ProductID + "'>" + $("#quantity").val() * result[i].Price + "</td></tr>");
                                    //$("#paygrid tbody").append("<tr><td>" + line + "</td><td>" + result[i].ProductName + "</td><td>" + $("#quantity").val() + "</td><td>" + result[i].Price + "</td><td>0</td><td>" + $("#quantity").val() * result[i].Price + "</td></tr>");
                                    //                                $("#netvalue").val($("#quantity").val() * result[i].Price + parseInt($("#netvalue").val()));
                                    //                                $(".sumvalue").html("TỔNG TIỀN: " + $("#netvalue").val() + " VND");
                                    //                                $(".quantity").kendoNumericTextBox().data("kendoNumericTextBox");
                                    //                                $("#finalpay").html("TỔNG TIỀN: </br><b><font color='red' size='5'>" + $("#netvalue").val() + " VND</font></b></br>THANH TOÁN (F4)");
                                    $(".quantity").css("width", "100px");
                                    $(".quantity").kendoNumericTextBox({
                                        decimals: 0,
                                        format: '#'
                                    }).data("kendoNumericTextBox");

                                    var sum = 0, index = 1;
                                    $("#paygrid tbody").html("");
                                    $("#billgrid tr").each(function () {
                                        var netvalue = parseInt($(this).find(".sum").html());
                                        sum = sum + netvalue;
                                        $("#paygrid tbody").append("<tr><td>" + index++ + "</td><td>" + $(this).find(".productname").html() + "</td><td>" + $(this).find(".quantity").val() + "</td><td>" + $(this).find(".price").html() + "</td><td>0</td><td>" + $(this).find(".sum").html() + "</td></tr>");
                                    });
                                    $("#finalpay").html("TỔNG TIỀN: </br><b><font color='red' size='5'>" + toUSD(sum) + " VND</font></b></br>THANH TOÁN (F4)");
                                    $(".sumvalue").html("TỔNG TIỀN: " + toUSD(sum) + " VND");
                                    $("#totalmoney").val(sum);
                                }
                            }
                        });
                    }
                } else { }
            });
            $("#voucherinput").keypress(function (event) {
                if (event.which == 13) {
                    if ($(this).val() == "") {
                        voucherwindow.data("kendoWindow").close();
                    } else {
                        voucherwindow.data("kendoWindow").close();
                        $("#quantity").val("2");
                        $.ajax({
                            type: "GET",
                            url: "/Sale/GetProductByID?productID=2",
                            contentType: "application/json; charset=utf-8",
                            cache: true,
                            success: function (result) {
                                for (i = 0; i < result.length; i++) {
                                    line++;
                                    $("#billgrid tbody").append("<tr><td style='display:none'><input type='hidden' class='voucher' value='" + $("#voucherinput").val() + "'/><input class='proID' type='hidden' value='" + result[i].ProductID + "'/>" + line + "</td><td>" + result[i].ProductCode + "</td><td><label class='productname' id='productname" + result[i].ProductID + "'>" + result[i].ProductName + "</td><td>" + result[i].Unit + "</td><td><input class='quantity' id='quantity" + result[i].ProductID + "' onchange='changequantity(" + result[i].ProductID + ");' value='" + $("#quantity").val() + "'/></td><td><label class='price' id='price" + result[i].ProductID + "'>" + result[i].Price + "</label></td><td>0</td><td>0</td><td><label class='sum' id='sumquantity" + result[i].ProductID + "'>0</td></tr>");
                                    //$("#paygrid tbody").append("<tr><td>" + line + "</td><td>" + result[i].ProductName + "</td><td>" + $("#quantity").val() + "</td><td>" + result[i].Price + "</td><td>0</td><td>" + $("#quantity").val() * result[i].Price + "</td></tr>");
                                    //                                $("#netvalue").val($("#quantity").val() * result[i].Price + parseInt($("#netvalue").val()));
                                    //                                $(".sumvalue").html("TỔNG TIỀN: " + $("#netvalue").val() + " VND");
                                    //                                $(".quantity").kendoNumericTextBox().data("kendoNumericTextBox");
                                    //                                $("#finalpay").html("TỔNG TIỀN: </br><b><font color='red' size='5'>" + $("#netvalue").val() + " VND</font></b></br>THANH TOÁN (F4)");
                                    $(".quantity").css("width", "100px");
                                    $(".quantity").kendoNumericTextBox({
                                        decimals: 0,
                                        format: '#'
                                    }).data("kendoNumericTextBox");

                                    var sum = 0, index = 1;
                                    $("#paygrid tbody").html("");
                                    $("#billgrid tr").each(function () {
                                        var netvalue = parseInt($(this).find(".sum").html());
                                        sum = sum + netvalue;
                                        $("#paygrid tbody").append("<tr><td>" + index++ + "</td><td>" + $(this).find(".productname").html() + "</td><td>" + $(this).find(".quantity").val() + "</td><td>" + $(this).find(".price").html() + "</td><td>0</td><td>" + $(this).find(".sum").html() + "</td></tr>");
                                    });
                                    $("#finalpay").html("TỔNG TIỀN: </br><b><font color='red' size='5'>" + toUSD(sum) + " VND</font></b></br>THANH TOÁN (F4)");
                                    $(".sumvalue").html("TỔNG TIỀN: " + toUSD(sum) + " VND");
                                    $("#totalmoney").val(sum);
                                }
                            }
                        });
                    }
                } else { }
            });
        });
        function changequantity(id) {
            $("#sumquantity" + id).html(parseInt($("#quantity" + id).val()) * parseInt($("#price" + id).text()));
            $("#paygrid tbody").empty();
            var sum = 0, index = 1;
            $("#billgrid tr").each(function () {
                var netvalue = parseInt($(this).find(".sum").html());
                sum = sum + netvalue;
                $("#paygrid tbody").append("<tr><td>" + index++ + "</td><td>" + $(this).find(".productname").html() + "</td><td>" + $(this).find(".quantity").val() + "</td><td>" + $(this).find(".price").html() + "</td><td>0</td><td>" + $(this).find(".sum").html() + "</td></tr>");
            });
            $("#finalpay").html("TỔNG TIỀN: </br><b><font color='red' size='5'>" + toUSD(sum) + " VND</font></b></br>THANH TOÁN (F4)");
            $(".sumvalue").html("TỔNG TIỀN: " + toUSD(sum) + " VND");
        };
        function selectBillgrid() {
        };
        $.Shortcuts.add({
            type: 'down',
            mask: 'Delete',
            handler: function () {
                var lineid = parseInt($("#billgrid").data("kendoGrid").select().find('td:first').html());
                $("#billgrid tbody tr:nth-child(" + lineid + ")").remove();
                $("#paygrid tbody").empty();
                var sum = 0, index = 1;
                $("#billgrid tr").each(function () {
                    var netvalue = parseInt($(this).find(".sum").html());
                    sum = sum + netvalue;
                    $("#paygrid tbody").append("<tr><td>" + index++ + "</td><td>" + $(this).find(".productname").html() + "</td><td>" + $(this).find(".quantity").val() + "</td><td>" + $(this).find(".price").html() + "</td><td>0</td><td>" + $(this).find(".sum").html() + "</td></tr>");
                });
                $("#finalpay").html("TỔNG TIỀN: </br><b><font color='red' size='5'>" +toUSD(sum) + " VND</font></b></br>THANH TOÁN (F4)");
                $(".sumvalue").html("TỔNG TIỀN: " +toUSD(sum) + " VND");          
            }
        }).start();
        
        //format currency
        function toUSD(number) {
            var number = number.toString(),
    dollars = number.split('.')[0],
    cents = (number.split('.')[1] || '') + '00';
            dollars = dollars.split('').reverse().join('')
        .replace(/(\d{3}(?!$))/g, '$1,')
        .split('').reverse().join('');
            return dollars + '.' + cents.slice(0, 2);
        }
        //only number textbox
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
    </script>
    <style scoped="scoped">
        #vertical
        {
            height: 380px;
            width: 700px;
            margin: 0 auto;
        }
        #middle-pane
        {
            background-color: rgba(60, 70, 80, 0.10);
        }
        #bottom-pane
        {
            background-color: rgba(60, 70, 80, 0.15);
        }
        #left-pane
        {
            background-color: rgba(60, 70, 80, 0.05);
        }
        #center-pane
        {
            background-color: rgba(60, 70, 80, 0.05);
        }
        #right-pane
        {
            background-color: rgba(60, 70, 80, 0.05);
        }
        .pane-content
        {
            padding: 0 10px;
        }
        .k-panel
        {
            -webkit-transform: translatez(0);
        }
        
        .demo-section
        {
            width: 300px;
        }
        .demo-section h3
        {
            font-weight: normal;
            padding-bottom: 10px;
        }
        #panelbar-images > .k-item > .k-link > .k-image
        {
            margin-top: 2px;
            margin-left: -5px;
        }
        
        #panelbar-sprites > .k-item > .k-link > .k-sprite
        {
            margin-top: 6px;
        }
        
        #panelbar-sprites .k-sprite
        {
            background-image: url("../../content/shared/styles/flags.png");
        }
        .brazilFlag
        {
            background-position: 0 0;
        }
        .indiaFlag
        {
            background-position: 0 -32px;
        }
        .netherlandsFlag
        {
            background-position: 0 -64px;
        }
        .historyIcon
        {
            background-position: 0 -96px;
        }
        .geographyIcon
        {
            background-position: 0 -128px;
        }
        .k-textbox
        {
            width: 11.8em;
        }
        
        #loginform
        {
            width: 510px;
            height: 323px;
            margin: 30px auto;
            padding: 10px 20px 20px 170px;
            background: url('../../content/web/validator/ticketsOnline.png') transparent no-repeat 0 0;
        }
        
        #loginform h3
        {
            font-weight: normal;
            font-size: 1.4em;
            border-bottom: 1px solid #ccc;
        }
        
        #loginform ul
        {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        #loginform li
        {
            margin: 10px 0 0 0;
        }
        
        label
        {
            display: inline-block;
            width: 90px;
            text-align: right;
        }
        
        .required
        {
            font-weight: bold;
        }
        
        .save, .status
        {
            padding-left: 90px;
        }
        
        .valid
        {
            color: green;
        }
        
        .invalid
        {
            color: red;
        }
        span.k-tooltip
        {
            margin-left: 6px;
        }
        .forms
        {
            float: left;
        }
        
        .forms li
        {
            margin-bottom: 5px;
            list-style: none;
        }
        
        .forms li > *
        {
            width: 200px;
        }
        .editor-field
        {
            padding-bottom: 5px;
        }
    </style>
</div>
