<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <!---Kendo CSS--->
        <link href="@Url.Content("~/kendonew/styles/notification.css")" rel="Stylesheet" type="text/css"/>   
        <link href="@Url.Content("~/kendonew/content/shared/styles/examples-offline.css")" rel="stylesheet" />
        <link href="@Url.Content("~/kendonew/styles/kendo.common.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/kendonew/styles/kendo.metroblack.min.css")" rel="stylesheet" type="text/css" />
        @*<link href="@Url.Content("~/kendo/styles/kendo.default.min.css")" rel="stylesheet" type="text/css" />*@
        <!---End of Kendo CSS--->
        <!---Kendo JS--->
        <script src="@Url.Content("~/kendonew/js/jquery.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/kendonew/js/kendo.web.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery-ui-1.10.1.custom.js")" type="text/javascript"></script>
        @*<script src="../../Scripts/Troy/jquery.tools.min.js" type="text/javascript"></script>*@
        <!---ENd of Kendo CSS--->
        <script src="@Url.Content("~/Scripts/jquery.shortcuts.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.printElement.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.webcam.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/formatdate.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/notification.js")" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#menu").kendoMenu();
                $("#chooseName").kendoComboBox();
                var select = $("#chooseName").data("kendoComboBox");
                var pos = 0, ctx = null, saveCB, image = [];
                var canvas = document.createElement('canvas');
                canvas.setAttribute('width', 320);
                canvas.setAttribute('height', 240);
                ctx = canvas.getContext('2d');
                image = ctx.getImageData(0, 0, 320, 240);

                var saveCB = function (data) {
                    var col = data.split(';');
                    var img = image;
                    for (var i = 0; i < 320; i++) {
                        var tmp = parseInt(col[i]);
                        img.data[pos + 0] = (tmp >> 16) & 0xff;
                        img.data[pos + 1] = (tmp >> 8) & 0xff;
                        img.data[pos + 2] = tmp & 0xff;
                        img.data[pos + 3] = 0xff;
                        pos += 4;
                    }

                    if (pos >= 4 * 320 * 240) {
                        ctx.putImageData(img, 0, 0);
                        $.post('@Url.Action("Upload", "Account")', { eID: select.value(), image: canvas.toDataURL("image/png") }, function (result) {
                            if (result.success) {
                                alert('Chấm công thành công ^^!');
                            }
                        });
                        pos = 0;
                    }
                };

                $('#slide-in-share').webcam({
                    width: 240,
                    height: 160,
                    mode: 'callback',
                    swffile: '@Url.Content("~/scripts/jscam_canvas_only.swf")',
                    onSave: saveCB,
                    onCapture: function () {
                        webcam.save();
                    }
                });
                $("#attendance").click(function () {
                    webcam.capture();
                });
                var totalwindow = $("#totalwindow");
                if (!totalwindow.data("kendoWindow")) {
                    totalwindow.kendoWindow({
                        width: "315px",
                        title: "Thanh toán",
                        visible: false,
                        actions: ["Close"]
                    });
                }
                $("#report").click(function () {
                    var d = new Date();
                    $("#now").html(d.format("dd-mm-yy hh:MM:ss"));
                    $.ajax({
                        type: "POST",
                        url: "/Sale/ReportOnDay",
                        contentType: "application/json; charset=utf-8",
                        cache: true,
                        success: function (result) {
                            $(".reline").remove();
                            for (i = 0; i < result.length; i++) {
                                if (result[i].ProductID != 0) {
                                    $("#totalmoneyonday").append("<tr class='reline'><td>" + result[i].ProductName + "</td><td>" + result[i].ProductQuantity + "</td><td>" + result[i].TotalMoney + "</td></tr>");
                                } else {
                                    $("#totalmoneyonday").append("<tr class='reline'><td>" + result[i].ComboName + "</td><td>" + result[i].ComboQUantity + "</td><td>" + result[i].TotalMoney + "</td></tr>");
                                }
                                $("#totalrevenue").html("<h1>Tổng: " + result[i].TOTALREVENUE + " VND<h1>");
                            }
                            $("#reportform").printElement({ printMode: 'iframe' });
                        }
                    });
                });
            });
//ini menu
    </script>
    </head>
    <body>
        <a id="slide-in-handle" href="#">Chấm công</a>
        <div id="slide-in-share">
            <div id="webcam"></div>
            <input type="button" class="k-button" id="attendance" value="Chấm" />
        </div>
        <ul id="menu">
            <li style="float: left">
                <input type="button" class="k-button" id="report" value="Báo cáo ngày" /></li>
            <li><a href="@Url.Action("Index", "Sale")">Bán hàng</a></li>
            <li><a href="@Url.Action("Index", "Product")">Sản phẩm</a></li>
            <li><a href="@Url.Action("Index", "Combo")">Khuyến mãi</a></li>
            <li><a href="@Url.Action("Index", "Store")">Kho</a></li>
            @{if (Session["UserBANHSAURIENG"] != null)
              {
                  string user = Session["UserBANHSAURIENG"].ToString();
                  if (Request.IsAuthenticated && user.Equals("troylee"))
                  {
                      <li>Báo cáo
                          <ul>
                              <li><a href="@Url.Action("Index", "Employee")">Nhân viên</a></li>
                              <li><a href="@Url.Action("Index", "Bill")">Doanh thu</a></li>
                              <li><a href="@Url.Action("ViewFixedAsset", "Store")">Khoản chi</a></li>
                          </ul>
                      </li>
                  }
              }
            }
            <li style="float: right">NV 
        <select id="chooseName" placeholder="Chọn tên nhân viên">
            @foreach (var e in BANHSAURIENG.DataAccess.EmployeeDataAccess.GetInstance().GetEmployee(1,10000))
            {
                <option value="@e.EmployeeID">@e.EmployeeName</option>
            }
            </select></li>
            @{if (Request.IsAuthenticated && Session["UserBANHSAURIENG"] != null)
              {
                  <li style="float: left"><a href="@Url.Action("LogOff", "Account")">Log Out</a></li>
                  <li
                      style="float: left">Welcome @User.Identity.Name<input id="username" type="hidden" value="@User.Identity.Name" /></li>
              }
              else
              {
                  <li style="float: left"><a href="@Url.Action("Login", "Account")">Log In</a></li>
              }
            }
        </ul>
        <div id="content">
            @RenderBody()
        </div>
        <div id="totalwindow">
            <div id="reportform" style="font-size: 16px; margin: 0; padding: 0">
                <p>
                    CÔNG TY BÁNH SẦU RIÊNG<br />
                    Ngày:
                    <label id="now">
                    </label>
                    <br />
                    BÁO CÁO DOANH THU NGÀY<br />
                </p>
                <table id='totalmoneyonday' style="font-size: 16px; margin: 0; padding: 0">
                    <tr>
                        <td>
                            Tên SP
                        </td>
                        <td>
                            SL
                        </td>
                        <td>
                            Thành Tiền
                        </td>
                    </tr>
                </table>
                <p id="totalrevenue" style="margin: 0; padding: 0">
                </p>
            </div>
        </div>
    </body>
    <footer>
        <!-- DOCK -->
    </footer>
</html>
@RenderSection("Scripts", required: false)
<script type="text/javascript">
    $(document).ready(function () {
        $("#panelbar").kendoPanelBar({
            expandMode: "single"
        });
        if ($("#username").val() != "troylee") {
            $(".k-grid-toolbar").remove();
        }
        $("#slide-in-share").hide();
        $("#slide-in-handle").click(function (e) {
            $("#slide-in-share").toggle();
        });
    })
</script>
<style type="text/css">
    
    #slide-in-share {
        position: absolute;
        top: 21px;
        right: 10px;
        width: 240px;
        z-index: 100000;
    }

    #slide-in-handle{
        position: absolute;
        top: 48px;
        right: 0px;
        width: 10px;
        height: 160px;
        background: #1b7458 url(../../content/web/fx/share-handle.png) no-repeat 50% 50%;
        color: #fff;
        text-indent: -999em;
        z-index: 100001;
    }

</style>