
@if (ViewBag.EmployeeEdit != null)
{
    BANHSAURIENG.Models.tblEmployee p1 = ViewBag.EmployeeEdit;
        <div id="form_validate">
        <input type="hidden" name="EmployeeID" id="EmployeeID" value="@p1.EmployeeID" />
        <table>
            <tr>
                <td colspan="2">
                    <input type="text" name="EmployeeName" id="EmployeeName" class="k-textbox" value="@p1.EmployeeName"
                        required validationmessage="Vui lòng điền tên nhân viên" maxlength="200" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="Avatar" name="Avatar" value="@p1.Avartar"/>
                    <input name="selectAvatar" id="selectAvatar" type="file" />
                    <img src="@Url.Content("~/Images/Employee/" + @p1.Avartar + "")" id="avatarPreview" width="120px" height="90px" />
                </td>
            </tr>
        </table>
        <p>
            <a class="k-button" type="button" id="submit">Hoàn thành</a>
        </p>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        var validator = $("#form_validate").kendoValidator().data("kendoValidator");
        $("#submit").click(function () {
            if (validator.validate()) {
                var EmployeeID = $("#EmployeeID").val();
                var EmployeeName = $("#EmployeeName").val();
                var Avartar = $("#Avatar").val();
                jQuery.ajaxSettings.traditional = true;
                    $.ajax({
                        type: "Post",
                        url: '@Url.Action("EditEmployee", "Employee")',
                        data: { 'EmployeeID': EmployeeID, 'EmployeeName': EmployeeName, 'Avartar': Avartar },
                        success: function () {
                            $("#window").data("kendoWindow").close();
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    });
            } else {

            }
        });
        //upload Avatar
        function onSelectImage(e) {
            var files = e.files;
            // Check the extension of each file and abort the upload if it is not .jpg,. png, . gif
            $.each(files, function () {
                if (this.extension != ".jpg" && this.extension != ".png" && this.extension != ".gif") {
                    alert("File incorrect, only submit .jpg,.png,.gif")
                    e.preventDefault();
                } else {

                }
            });
        };
        function SuccessAvatar(e) {
            var files = e.files;
            $("#Avatar").val(files[0].name);
            $("#avatarPreview").attr('src', '/Images/Employee/' + files[0].name);
        };
        $("#selectAvatar").kendoUpload({
            localization: {
                "select": "SelectAvatar"
            },
            async: {
                saveUrl: '@Url.Action("UploadImage", "Product")',
                removeUrl: '@Url.Action("RemoveImage", "Product")',
                autoUpload: true
            },
            multiple: false,
            showFileList: false,
            select: onSelectImage,
            success: SuccessAvatar
        });
    })
</script>
