@if (ViewBag.Combo != null)
{
    BANHSAURIENG.Models.tblComBo combo = ViewBag.Combo as BANHSAURIENG.Models.tblComBo;
    <input type="hidden" value="@combo.ComboID" name="ComboID" id="ComboID" />
    <div id="form_validate" style="width: 100%; float: left">
        <table style="float: left; width: 200px">
            <tr>
                <td colspan="2">
                    <input type="text" name="ComboName" id="ComboName" class="k-textbox" value="@combo.ComboName" placeholder="Tên Combo"
                    required validationmessage="Vui lòng điền tên Combo" maxlength="100" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="text" name="Price" id="Price" value="@combo.Price" type="number" min="0" placeholder="Giá"
                    required validationmessage="Vui lòng điền giá" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="ShortcutKey" id="ShortcutKey" class="k-textbox" value="@combo.ShortcutKey" placeholder="Phím tắt"
                    maxlength="1" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="hidden" id="Avatar" name="Avatar" value="@combo.Avatar"/>
                    <input name="selectAvatar" id="selectAvatar" type="file" />
                    <img src="@Url.Content("~/Images/Combo/" + @combo.Avatar + "")" id="avatarPreview" width="90px" height="90px" />
                </td>
            </tr>
        </table>
        <div style="width: 280px; float: left">
            @if (ViewBag.ComboProduct != null)
            {
                string s = "";
                //get Product of Combo
                
                    System.Data.Objects.ObjectResult<BANHSAURIENG.Models.tblProduct> list = (System.Data.Objects.ObjectResult<BANHSAURIENG.Models.tblProduct>)ViewBag.ComboProduct1;
                    foreach (var item1 in list)
                    {
                        s = s + "-" + item1.ProductID;
                    }
                <input id="productHidden" type="hidden" value="@s"/>
                
                //get all product
                foreach (var item in (List<BANHSAURIENG.Models.tblProduct>)ViewBag.ComboProduct)
                {
                    string[] s1 = s.Split('-');
                    string check = "";
                        if (s1.Contains(item.ProductID.ToString()))
                        {
                            check = "checked";
                        }
                        else { check = ""; }
                    
                <input type="checkbox" id="@item.ProductID" class="productItem" name="productItem" @check/>
                <img src="@Url.Content("~/Images/Combo/" + @item.Avatar + "")" width="20" height="20" />
                @item.ProductName
                }

            }
        </div>
    </div>
    <a class="k-button" type="button" id="submit" style="float: right">Hoàn thành</a>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#Price").kendoNumericTextBox({
            format: "c",
            decimals: 3
        });
        //upload Avatar
        function onSelectImage(e) {
            var files = e.files;
            // Check the extension of each file and abort the upload if it is not .jpg,. png, . gif
            $.each(files, function () {
                if (this.extension != ".jpg" && this.extension != ".png" && this.extension != ".gif") {
                    alert("File incorrect, only submit .jpg,.png,.gif")
                    e.preventDefault();
                } else {

                }
            });
        };
        function SuccessAvatar(e) {
            var files = e.files;
            $("#Avatar").val(files[0].name);
            $("#avatarPreview").attr('src', '/Images/Combo/' + files[0].name);
        };
        $("#selectAvatar").kendoUpload({
            localization: {
                "select": "SelectAvatar"
            },
            async: {
                saveUrl: '@Url.Action("UploadImage", "Combo")',
                removeUrl: '@Url.Action("RemoveImage", "Combo")',
                autoUpload: true
            },
            multiple: false,
            showFileList: false,
            select: onSelectImage,
            success: SuccessAvatar
        });
        //end of upload avatar
        var validator = $("#form_validate").kendoValidator().data("kendoValidator");
        $("#submit").click(function () {
            if (validator.validate()) {
                var ComboID = $("#ComboID").val();
                var ComboName = $("#ComboName").val();
                var Avatar = $("#Avatar").val();
                var Price = $("#Price").val();
                var Unit = $("#Unit").val();
                var ShortcutKey = $("#ShortcutKey").val();
                var productItem = $("#productHidden").val();
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("Edit", "Combo")',
                    data: { 'ComboID':ComboID,'ComboName': ComboName, 'Avatar': Avatar, 'Price': Price, 'ShortcutKey': ShortcutKey, 'productItem': productItem },
                    success: function () {
                        $("#window").data("kendoWindow").close();
                        $("#grid").data("kendoGrid").dataSource.read();
                        $("#edit").show();
                    }
                })

            } else {

            }
        });
        $(".productItem").click(function () {
            var id = $(this).attr("id");
            if (this.checked) {
                AddPro(id);
            } else {
                RemovePro(id);
            }
        })
    });
    //function
    function AddPro(id) {
        $("#productHidden").val($("#productHidden").val() + "-" + id);
    }
    function RemovePro(id) {
        var s = $("#productHidden").val();
        var s1 = s.split('-');
        var newp = "";
        for (i = 1; i < s1.length; i++) {
            if (id != s1[i].toString()) {
                newp = newp + "-" + s1[i].toString();
            }
        }
        $("#productHidden").val(newp);
    }
</script>
