@{
    ViewBag.Title = "Bán hàng";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<div id="top-pane" style="height: 768px;">
    @*Get all product*@
    <div id="left-pane">
        <div style="float: right">
            <input type="button" class="k-button" id="enableSort" value="Sắp xếp lại" />
            <input style="display: none" type="button" class="k-button" id="saveSort" value="Lưu sắp xếp" />
        </div>
        <ul id="listView">
            @foreach (var p in (List<BANHSAURIENG.Models.tblProduct>)ViewBag.Product)
            {
                <li data-uid="@p.ProductID">
                    <img src="@Url.Content("~/Images/Product/" + p.Avatar)" width="60" height="60" title="@p.ProductName"/>
                </li>
            }
            @foreach (var c in (List<BANHSAURIENG.Models.tblComBo>)ViewBag.Combo)
            {
                <li data-uid="c-@c.ComboID">
                    <img src="@Url.Content("~/Images/Combo/" + c.Avatar)" width="60" height="60" title="@c.ComboName"/>
                </li>
            }
        </ul>
    </div>
    @*Get All Combo*@
    <div id="right-pane">
        <ul id="list">
            <li>
                <input type="button" class="k-button" id="printBill" value="In hóa đơn (F1)" />
                <input type="button" class="k-button" id="writeBill" value="Ghi hóa đơn (F2)" />
                <input type="button" class="k-button" id="cancelBill" value="Hủy hóa đơn (ESC)" />
            </li>
            @foreach (var p in (List<BANHSAURIENG.Models.tblProduct>)ViewBag.Product)
            {
                <li style="display:none" data-uid="@p.ProductID">@p.ProductName</li>
                <li style="display:none" data-uid="@p.ProductID">
                    <input class="quantity" onchange="onChange(@p.ProductID);" data-uid="@p.ProductID"/>
                    <input class="compain" data-uid="@p.ProductID" onchange="onChange(@p.ProductID);" value="0"/>
                    <input class="price" data-uid="@p.ProductID" value="@p.Price"/>
                    <input class="money" data-uid="@p.ProductID" readonly/>
                    <input class="note k-textbox" type="text" data-uid="@p.ProductID" placeholder="Ghi chú"/>
                </li>
            }
            @foreach (var c in (List<BANHSAURIENG.Models.tblComBo>)ViewBag.Combo)
            {
                <li style="display:none" data-uid="c-@c.ComboID">@c.ComboName</li>
                <li style="display:none" data-uid="c-@c.ComboID">
                    <input class="quantity" onchange="onChange('c-@c.ComboID');" data-uid="c-@c.ComboID"/>
                    <input class="compain" data-uid="c-@c.ComboID" onchange="onChange('c-@c.ComboID');" value="0"/>
                    <input class="price" data-uid="c-@c.ComboID" value="@c.Price"/>
                    <input class="money" data-uid="c-@c.ComboID" readonly/>
                    <input class="note k-textbox" type="text" data-uid="c-@c.ComboID" placeholder="Ghi chú"/>
                </li>
            }
            <li style="color: Orange">Chiết khấu:</li>
            <li>
                <input id="generalcompain" type="text" onchange="changegeneralcompain();" onkeypress="return isNumberKey(event)"  class="k-textbox" value="0" />
                (% hoặc VND)</li>
            <li style="color: Red">TỔNG TIỀN:</li>
            <li><input class="k-textbox" id="totalmoney" value="0" readonly/> VND</li>
        </ul>
        <div id="printform">
            <p>
                CÔNG TY BÁNH SẦU RIÊNG<br/>
                Ngày: <label id="billnow"></label><br/>
                <label id="orID" style="font-size: large; padding-right: 20px"></label><label id="billID" style="font-size: large;"></label>
            </p>
            <table>
            </table>
        </div>
    </div>
</div>
<div id="window_select">
</div>
<input type="hidden" id="grosstotalmoney"/>
<script type="text/javascript">
    $(document).ready(function () {
        $("#enableSort").click(function () {
            $("#listView").sortable();
            $("#listView").sortable('enable');
            $("#listView").disableSelection();
            $("#saveSort").show();
            $("#enableSort").hide();
        });
        $("#saveSort").click(function () {
            var result = "";
            var i = 0;
            $("#listView li").each(function () {
                var uid = $(this).attr("data-uid");
                result = result + uid + "_" + i + ":";
                i++;
            });
            console.log(result);
            $.ajax({
                type: "POST",
                url: "/Sale/SortButton",
                data: "{'result' : '" + result + "', 'totalmoney' : '" + totalmoney + "', 'generalcompain' : '" + generalcompain + "'}",
                contentType: "application/json; charset=utf-8",
                success: function (result) {
                    $("#listView").sortable('disable');
                    $("#saveSort").hide();
                    $("#enableSort").show();
                }
            });
        });
        var listdefault = $("#list").html();
        $(".quantity").css("width", "75px");
        $(".quantity").css("margin-right", "15px");
        $(".quantity").kendoNumericTextBox({
            decimals: 0,
            format: '#'
        }).data("kendoNumericTextBox");
        $(".compain").css("width", "75px");
        $(".compain").css("margin-right", "15px");
        $(".compain").kendoNumericTextBox({
            decimals: 0,
            format: '#'
        }).data("kendoNumericTextBox");
        $(".price").kendoNumericTextBox({
            decimals: 0,
            format: '#'
        }).data("kendoNumericTextBox");
        $(".price").hide();
        $(".money").css("width", "100px");
        $(".money").css("margin-right", "15px");
        $(".money").kendoNumericTextBox({
            decimals: 0,
            format: '#'
        }).data("kendoNumericTextBox");
        $("#top-pane").kendoSplitter({
            panes: [
                            { collapsible: true, size: "70%" },
                            { collapsible: false }
                        ]
        });

        $("#listView").on("click", "img", function (e) {
            if (!$("#listView").hasClass("ui-sortable") || $("#listView").hasClass("ui-sortable-disabled")) {
                var el = $(e.currentTarget).closest("li");
                var uid = el.attr("data-uid");
                $("#list li[data-uid=" + uid + "]").show();
                if ($(".quantity [data-uid=" + uid + "]").val() == "") {
                    $(".quantity [data-uid=" + uid + "]").val(1);
                } else {
                    $(".quantity [data-uid=" + uid + "]").val(parseInt($(".quantity [data-uid=" + uid + "]").val()) + 1);
                }
                onChange(uid);
            }
        });

        $("#printBill").click(function () {
            printBillAction();
        });
        $("#writeBill").click(function () {
            writeBillAction();
        });
        $("#cancelBill").click(function () {
            cancelBillAction();
        });
    });
    $(document).keydown(function (e) {
        if (e.keyCode == 27) {
            cancelBillAction();
        }
        if (e.keyCode == 112) {
            printBillAction();
        }
        if (e.keyCode == 113) {
            writeBillAction();
        }
    });
    function onChange(uid) {
        console.log(uid);
        $(".quantity [data-uid=" + uid + "]").prev().focus();
        $(".money [data-uid=" + uid + "]").val($(".price [data-uid=" + uid + "]").val() * $(".quantity [data-uid=" + uid + "]").val() * (100 - $(".compain [data-uid=" + uid + "]").val()) / 100);
        $(".money [data-uid=" + uid + "]").prev().focus();
        $(".money [data-uid=" + uid + "]").prev().blur();
        sumMoney();
    }

    function sumMoney() {
        var sumValue = 0;
        $(".k-formatted-value.money").each(function () {
            if ($(this).next().val() != "") {
                sumValue = sumValue + parseInt($(this).next().val());
            }
        });
        $("#totalmoney").val(sumValue);
        $("#grosstotalmoney").val(sumValue);
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function changegeneralcompain() {
        if(parseInt($("#generalcompain").val()) > 100)
        {
            $("#totalmoney").val(parseInt($("#grosstotalmoney").val()) - parseInt($("#generalcompain").val()));
        }
        else{
            var percent = 100 - parseInt($("#generalcompain").val());
            $("#totalmoney").val(parseInt($("#grosstotalmoney").val()) * percent / 100);
        }
    }

    function printBillAction() {
        var d = new Date();
        $("#billnow").html(d.format("dd-mm-yy hh:MM:ss"));
        var result = "";
        var voucher = "";
        $("#list li").each(function () {
            if ($(this).find(".quantity").val() != null && $(this).find(".quantity").val() != undefined) {
                var uid = $(this).attr("data-uid");
                if ($(".quantity [data-uid=" + uid + "]").prev().val() != "" && $(".compain [data-uid=" + uid + "]").prev().val() != "") {
                    result = result + uid + "_" + $(".quantity [data-uid=" + uid + "]").prev().val() + "_" + $(".compain [data-uid=" + uid + "]").prev().val() + "_" + $(this).find(".note").val() + ":";
                }
            }
        });
        var totalmoney = $("#totalmoney").val();
        var generalcompain = $("#generalcompain").val();
        $.ajax({
            type: "POST",
            url: "/Sale/PrintForm",
            data: "{'result' : '" + result + "', 'totalmoney' : '" + totalmoney + "', 'generalcompain' : '" + generalcompain + "'}",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                console.log(result);
                $("#orID").html("STT: " + result.orID);
                $("#billID").html("MHĐ: " + result.billID);
                for (i = 0; i < 2; i++) {
                    printBill();
                    if (i == 0)
                        alert("In lần 2");
                }
                $("#list li").each(function () {
                    if ($(this).find(".quantity").val() != null && $(this).find(".quantity").val() != undefined) {
                        $(this).hide();
                        $(this).prev().hide();
                        $(".quantity").val("");
                        $(".compain").val(0);
                        $(".money").val("");
                        $("#generalcompain").val(0);
                        $("#totalmoney").val(0);
                    }
                });
                // Create a new notification
                for (var j = 0; j < result.list.length; j++) {
                    $.ambiance({ message: result.list[j].MaterialName + " chỉ còn " + result.list[j].MaterialQuantityNet + " " + result.list[j].Unit,
                        type: "error",
                        fade: true
                    });
                }
            }
        });
    }

    function writeBillAction() {
        var d = new Date();
        $("#billnow").html(d.format("dd-mm-yy hh:MM:ss"));
        var result = "";
        var voucher = "";
        $("#list li").each(function () {
            if ($(this).find(".quantity").val() != null && $(this).find(".quantity").val() != undefined) {
                var uid = $(this).attr("data-uid");
                if ($(".quantity [data-uid=" + uid + "]").prev().val() != "" && $(".compain [data-uid=" + uid + "]").prev().val() != "") {
                    result = result + uid + "_" + $(".quantity [data-uid=" + uid + "]").prev().val() + "_" + $(".compain [data-uid=" + uid + "]").prev().val() + "_" + $(this).find(".note").val() + ":";
                }
            }
        });
        var totalmoney = $("#totalmoney").val();
        var generalcompain = $("#generalcompain").val();
        $.ajax({
            type: "POST",
            url: "/Sale/PrintForm",
            data: "{'result' : '" + result + "', 'totalmoney' : '" + totalmoney + "', 'generalcompain' : '" + generalcompain + "'}",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                console.log(result);
                $("#orID").html(result.orID);
                $("#list li").each(function () {
                    if ($(this).find(".quantity").val() != null && $(this).find(".quantity").val() != undefined) {
                        $(this).hide();
                        $(this).prev().hide();
                        $(".quantity").val("");
                        $(".compain").val(0);
                        $(".money").val("");
                        $("#generalcompain").val(0);
                        $("#totalmoney").val(0);
                    }
                });
                // Create a new notification
                for (var j = 0; j < result.list.length; j++) {
                    $.ambiance({ message: result.list[j].MaterialName + " chỉ còn " + result.list[j].MaterialQuantityNet + " " + result.list[j].Unit,
                        type: "error",
                        fade: true
                    });
                }
            }
        });
    }

    function cancelBillAction() {

        $("#list li").each(function () {
            if ($(this).find(".quantity").val() != null && $(this).find(".quantity").val() != undefined) {
                $(this).hide();
                $(this).prev().hide();
                $(".quantity").val("");
                $(".compain").val(0);
                $(".money").val("");
                $("#generalcompain").val(0);
                $("#totalmoney").val(0);
            }
        });
    }
    function printBill() {
        var printcontent = "";
        $("#list li").each(function () {
            if ($(this).find(".quantity").val() != null && $(this).find(".quantity").val() != undefined) {
                var uid = $(this).attr("data-uid");
                if ($(".quantity [data-uid=" + uid + "]").prev().val() != "" && $(".compain [data-uid=" + uid + "]").prev().val() != "") {
                    printcontent = printcontent + "<tr><td colspan='3'>" + $(this).prev().html() + "</td></tr>"
                                                + "<tr><td>SL: " + $(".quantity [data-uid=" + uid + "]").prev().val() + "</td><td>CK: " + $(".compain [data-uid=" + uid + "]").prev().val() + "</td><td>" + $(".money [data-uid=" + uid + "]").prev().val() + "</td></tr>";
                }
            }
        });
        printcontent = printcontent + "<tr><td>CKT: " + $("#generalcompain").val() + "</td><td colspan='2'>Tổng tiền: " + $("#totalmoney").val() + "</td></tr>"
        $("#printform table").html(printcontent);
        $("#printform").printElement({
            printMode: 'iframe'
        });
    }
</script>
<style type="text/css">
    #printform
    {
        display: none;
    }
    #listView, #list
    {
        position: absolute;
        border: 0;
        background: transparent;
        top: 20px;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    #listView
    {
        width: 100%;
        margin: 10px;
    }
    
    #listView .done
    {
        display: none;
    }
    
    #listView li
    {
        display: inline-block;
        width: 80px;
        height: 80px;
        margin: 0 10px 10px 0;
        -webkit-box-shadow: 0 2px 5px rgba(168,126,68,.8);
        -moz-box-shadow: 0 2px 5px rgba(168,126,68,.8);
        -o-box-shadow: 0 2px 5px rgba(168,126,68,.8);
        box-shadow: 0 2px 5px rgba(168,126,68,.8);
    }
    
    #listView li, #listView img
    {
        overflow: hidden;
        width: 80px;
        height: 80px;
        cursor: pointer;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -o-border-radius: 40px;
        border-radius: 40px;
    }
    
    #listView li:hover
    {
        -webkit-box-shadow: 0 0 0 3px rgba(255,255,255,.8);
        -moz-box-shadow: 0 0 0 3px rgba(255,255,255,.8);
        -o-box-shadow: 0 0 0 3px rgba(255,255,255,.8);
        box-shadow: 0 0 0 3px rgba(255,255,255,.8);
    }
    
    #list
    {
        color: #666;
        margin:10px;
        width:100%;
    }
    
    #list .done
    {
        text-decoration: line-through;
    }
    
    #example
    {
        background: url(../../content/web/fx/groceries.jpg) no-repeat 0 0;
        height: 330px;
    }
    a:hover
    {
        cursor: pointer;
    }
</style>
