<div id="form_validate" style="width: 100%; float: left">
    <table style="float: left; width: 200px">
        <tr>
            <td colspan="2">
                <input type="text" name="ComboName" id="ComboName" class="k-textbox" placeholder="Tên Combo"
                    required validationmessage="Vui lòng điền tên Combo" maxlength="100" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" name="Price" id="Price" placeholder="Giá" type="number" min="0"
                    required validationmessage="Vui lòng điền giá" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="ShortcutKey" id="ShortcutKey" class="k-textbox" placeholder="Phím tắt"
                    maxlength="1" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="hidden" id="Avatar" name="Avatar" />
                <input name="selectAvatar" id="selectAvatar" type="file" />
                <img src="" id="avatarPreview" width="90px" height="90px" />
            </td>
        </tr>
    </table>
    <div style="width: 280px; float: left">
        @foreach (var item in (List<BANHSAURIENG.Models.tblProduct>)ViewBag.ListProduct)
        {
            <input type="text" id="@item.ProductID" class="productItem" name="productItem"/>
            <img src="@Url.Content("~/Images/Combo/"+@item.Avatar+"")" width="20" height="20" />
            @item.ProductName
        }
    </div>
</div>
<a class="k-button" type="button" id="submit" style="float: right">Hoàn thành</a>
<script type="text/javascript">
    $(document).ready(function () {
        $("#Price").kendoNumericTextBox({
            format: "c",
            decimals: 3
        });
        $(".productItem").kendoNumericTextBox({
            decimals: 3
        });
        //upload Avatar
        function onSelectImage(e) {
            var files = e.files;
            // Check the extension of each file and abort the upload if it is not .jpg,. png, . gif
            $.each(files, function () {
                if (this.extension != ".jpg" && this.extension != ".png" && this.extension != ".gif") {
                    alert("File incorrect, only submit .jpg,.png,.gif")
                    e.preventDefault();
                } else {

                }
            });
        };
        function SuccessAvatar(e) {
            var files = e.files;
            $("#Avatar").val(files[0].name);
            $("#avatarPreview").attr('src', '/Images/Combo/' + files[0].name);
        };
        $("#selectAvatar").kendoUpload({
            localization: {
                "select": "SelectAvatar"
            },
            async: {
                saveUrl: '@Url.Action("UploadImage", "Combo")',
                removeUrl: '@Url.Action("RemoveImage", "Combo")',
                autoUpload: true
            },
            multiple: false,
            showFileList: false,
            select: onSelectImage,
            success: SuccessAvatar
        });
        //end of upload avatar
        var validator = $("#form_validate").kendoValidator().data("kendoValidator");
        $("#submit").click(function () {
            if (validator.validate()) {
                var ComboName = $("#ComboName").val();
                var Avatar = $("#Avatar").val();
                var Price = $("#Price").val();
                var Unit = $("#Unit").val();
                var ShortcutKey = $("#ShortcutKey").val();
                var productItems = [];
                $(".productItem").each(function (index) {
                    if (this.value >= 0 && this.id.length > 0) {
                        productItems.push(this.id + "_" + this.value);
                        console.log(productItems);
                    }
                });
                jQuery.ajaxSettings.traditional = true;
                $.ajax({
                    type: "Post",
                    url: '@Url.Action("Create", "Combo")',
                    data: { 'ComboName': ComboName, 'Avatar': Avatar, 'Price': Price, 'ShortcutKey': ShortcutKey, 'productItems': productItems },
                    success: function () {
                        $("#window").data("kendoWindow").close();
                        $("#grid").data("kendoGrid").dataSource.read();
                    }
                })

            } else {

            }
        });
    });
</script>
